# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Conda environment files
.conda/

# Logs and debug files
.debug/
*.log
*.out
*.err

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.DS_Store

# Ignore database files and legacy code folder
data/